/* Adding color to lists */
ur {
    color: maroon;
}

ol {
    color: rgb(50, 50, 50);
}

/* Editing the headers */
h2 {
    color: rgb(32, 0, 126);
}

/* decorating these boxes */
.cm {
    width: 5cm;
    height: 35px;
    border: 2pt solid rebeccapurple;
}

.nm {
    width: 20vw;
    height: 3.5rem;
    border-radius: 10px;
    border-width: 2pt;
    border-style: solid;
    border-color: black;
    margin: 0pt 0pt 2ex 0pt;
}

.urCon {
    margin-top: auto;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 4ex;
}

.footer{
    margin:auto;
}

.box {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

.container {
    padding: 0px 3px 3px 3px
}

